# Python 소개

[Python](https://www.python.org/)은 범용 프로그래밍 언어로 1989 년에 처음으로 소개되었으며 오픈소스이며 무료이다. [Python Software Foundation을](https://www.python.org/psf/) 통해 계속 발전되었습니다.

## Python을 계산기로 사용하기

### 연산

Python을 이용한 통계 분석을 배우려면 R 언어, Julia 언어와 같이 Python을 고급 계산기처럼 사용하는 기능을 배우는 것이 좋다.

다음과 같이 사칙연산이 가능하다.

In [ ]:
1+2
100-50
3*4
5/2

2.5

In [ ]:
4.5**2

20.25

특별한 연산자도 있다. 연산자 `//`는 몫(floor division)을, 연산자 `%`는 나머지(remainder)를 계산해준다.  연산자 `**`는 거듭제곱(involution)을 계산해준다.

In [ ]:
13 // 2

6

In [ ]:
13 % 2

1

In [ ]:
2**4

16

기본적인 수학 함수를 이용할 수 있다.  이를 위하여 math module을  import 해야한다.

In [ ]:
import math
a = math.sin(2*math.pi)
a

-2.4492935982947064e-16

math module의 constant로는 파이,자연상수,타우상수가 있다.

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.e

2.718281828459045

In [ ]:
math.tau

6.283185307179586

 math module이 지원하는 method로는 대표적인 예로 제곱 연산 , 제곱근 연산 , 로그 연산 , 삼각함수 연산등이 있다.

In [ ]:
math.pow(3, 2)

9.0

In [ ]:
math.sqrt(25)

5.0

In [ ]:
math.log(10, 10)

1.0

In [ ]:
x = 4
math.sin(x)
math.cos(x)
math.tan(x)

1.1578212823495775

### 비교연산자와 논리연산자

비교연산자  
  
== : 값이 동일하다  
!= : 값이 동일하지 않다   
< : 왼쪽 값이 오른쪽 값보다 작다  
<= : 왼쪽 값이 오른쪽 값보다 같거나 작다

In [ ]:
1 > 2

False

In [ ]:
1 <= 3

True

In [ ]:
2 == 2.0

True

In [ ]:
3 != 3

False

논리연산자는 `and`, `or`, `not`이 있다  
and의 경우	논리 AND 연산. 둘다 참일때만 참  
or의 경우	논리 OR 연산. 둘 중 하나만 참이여도 참  
not의 경우  논리 NOT 연산. 논리 상태를 반전

In [ ]:
1 < 3 and 2 >= 1

True

In [ ]:
1 < 3 or 2 > 1

True

In [ ]:
not 3 == 3

False

## 변수

Python에서 다른 보통의 언어와 마찬가지로 변수(variable)을 연산자 `=`을 사용하여 선언할 수 있다.  
여기서 파이썬에서 사용하는 변수란 객체를 가리키는 것이라고 말할 수 있다. (자료형과 같은 것)
- 변수이름 = 변수에 저장할 값  
- 변수명는 문자(A-Z/a-z)와  an underscore(_)으로 시작한다.
- 변수명은 문자(A-Z/a-z), an underscore(_), 숫자의 조합으로 구성된다.
- 변수명은 소문자와 대문자를 구별한다.

In [ ]:
a = 100

In [ ]:
_name = '이용희'

In [ ]:
c, d = 100, 3.5

In [ ]:
c+d

103.5

In [ ]:
i=j=10

In [ ]:
i+j

20

### 리스트 복사

In [ ]:
a = [1,2,3]
b = a

In [ ]:
id(a)

140306742924544

In [ ]:
id(b)

140306742924544

In [ ]:
a is b

True

a 리스트의 요소를 바꾸면서 b의 값은 그대로 유지하고 싶을 경우  
1. [:] 사용  
2. copy module 사용

1. [:] 사용

In [ ]:
a = [1,2,3]
b = a[:]
a[1] = 4

In [ ]:
a

[1, 4, 3]

In [ ]:
b

[1, 2, 3]

2. copy module 사용

In [ ]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [ ]:
b is a

False

위의 결과를 통해 b와 a가 가리키는 객체는 서로 다르다는 것을 알 수 있다.

### 변수를 만드는 여러 가지 방법

In [ ]:
a , b = ('python','life') # 튜플로 만드는 방법
[a,b] = ['python','life'] # 리스트로 만드는 방법

In [ ]:
a = b = 'python' # 여러개의 변수에 같은 값을 대입 할 수 있다.

In [ ]:
a = 3
b = 5 
a, b = b, a
a

5

In [ ]:
b

3

## 문자열

Python의 문자열(string,`str`)은 문자(character)의 열(sequence)이다. 문자열의 정의는 `' '`와 `" "`로 모두 정의할 수 있다.

아래의 함수 `type`은 주어진 인자의 형식(type)을 보여준다

In [ ]:
type('이용희')

str

In [ ]:
type("이용희")

str

문자열을 만드는 방법으로는 4가지 방법이 있다.

In [ ]:
"이용희 교수님" # 큰따옴표로 양쪽 둘러싸기

In [ ]:
'이용희 교수님' # 작은따옴표로 양쪽 둘러싸기

In [ ]:
""" 이용희 교수님 """ # 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기

In [ ]:
''' 이용희 교수님 ''' # 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기

문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때가 있다.

1. 문자열에 작은 따옴표 포함시키기

In [ ]:
이용희 교수님's favorite hobby is cooking # 예제

In [ ]:
hobby = "이용희 교수님's favorite hobby is cooking"

In [ ]:
hobby # 문자열을 큰 따옴표로 둘러 싸야한다.

"이용희 교수님's favorite hobby is cooking"

In [ ]:
hobby = '이용희 교수님's favorite hobby is cooking' # 작은따옴표로 문자열을 둘러 쌀 경우에는 오류가 발생할 것이다.

SyntaxError: ignored

2. 문자열에 큰 따옴표 포함시키기

In [ ]:
"cooking is very easy." he says. # 예제

In [ ]:
say = '"cooking is very easy." he says.'

In [ ]:
say

'"cooking is very easy." he says.'

쉽게말해 큰따옴표를 포함시키고 싶으면 밖에 작은따옴표를 , 작은 따옴표를 포함시키고 싶을 때에는 밖에 큰 따옴표를 둘러싸면된다.

3. 백슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기

In [ ]:
food = '이용희 교수님\'s favorite food is coffee'
say = "\"cooking is very easy.\" he says."

In [ ]:
food

"이용희 교수님's favorite food is coffee"

In [ ]:
say

'"cooking is very easy." he says.'

여러 줄인 문자열을 변수에 대입하고 싶을 때

In [ ]:
Life is too short
You need machine learning

In [ ]:
multiline = "Life is too short\nYou need machine learning"

In [ ]:
print(multiline)

life is too short
you need machine learning

위의 방법은 길고 불편할 수 있으므로

In [ ]:
multiline = '''
life is too short
you need machine learning
'''

In [ ]:
multiline = """
life is too short
you need machine learning
"""

In [ ]:
print(multiline)

life is too short
you need machine learning

### 문자열의 연산

Python은 문자열들을 여러 가지 연산자로 이용하여 조합할 수 있다

In [ ]:
"나는" " 이용희"  # "나는" + " 이용희" 와 동일한 기능

'나는 이용희'

1. 문자열 더해서 연결하기(Concatenation)

In [ ]:
a="I am"+" 이용희"
a

'I am 이용희'

In [ ]:
print(a)

I am 이용희

In [ ]:
t1 = " 이철수"
"나는" + t1

'나는 이철수'

2. 문자열 곱하기

In [ ]:
3*'아이고 '

'아이고 아이고 아이고 '

3. 문자열 길이 구하기

In [ ]:
a = "Life is too short"
len(a)

17

`("\")` 뒤에 나오는 문자가 특수 문자로 취급되게 하고 싶지 않다면, 첫 따옴표 앞에 `("r")` 을 붙여서 *원시 문자열 (raw string)* 을 만들 수 있습니다.

In [ ]:
print(r'C:\some\name')

C:\some\name

#### 문자열 인덱싱과 슬라이싱

문자열의 일부분을 `[start:end]`로 추출할 수 있으며 **start index 는 0 부터 시작한다.**  
R과 매우 다른 점은 index에서 start:end 이면 start 는 포함되고 end는 포함되지 않는다.

또한 index 는 음수도 가능하면 가장 마자막 문자가 -1부터 시작하고 반대 방향으로 -1 만큼씩 줄어든다.

In [ ]:
mt = 'abc'
mt[0]

'a'

In [ ]:
mt[0:2]

'ab'

In [ ]:
mt[-1]

'c'

In [ ]:
mt[-2]

'b'

In [ ]:
mt[-3:-1]

'ab'

문자열의 일부분을 지정연산자로 바꿀 수는 없다.

In [ ]:
mt[1] = 'f'

TypeError: 'str' object does not support item assignment

문자열 슬라이싱을 구체적으로 살펴보자

In [ ]:
a = "20221228dday"
date = a[:8]
date

'20221228'

In [ ]:
whatday=a[8:]
whatday

'dday'

In [ ]:
year = a[:4]
year

'2022'

In [ ]:
month = a[4:6]
month

'12'

In [ ]:
day = a[6:8]
day

'28'

### 문자열 포매팅

formatting - 문자열을 만들때 원하는 위치에 특정한 값(변수)를 삽입해서 문자열을 그때그때 이쁘게 출력하는 것을 의미합니다.

In [ ]:
"I eat %d apples." %3

'I eat 3 apples.'

In [ ]:
"I eat %s apples." %"five"

'I eat five apples.'

문자를 쓰려면 %s 를 써야하며 , 숫자를 넣기 위해서는 %d를 써야한다.

In [ ]:
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

숫자 값을 나타내는 변수로 대입하는 방법

In [ ]:
number = 100
day = "three"
"I ate %d apples. So I was sick for %s days." % (number,day)

'I ate 100 apples. So I was sick for three days.'

In [ ]:
"I have %s apples" % 3

'I have 3 apples'

In [ ]:
"rate is %s" %3.234

'rate is 3.234'

%s 의 경우 어떠한 형태로든 입력이 가능하기 때문에 만능키라고 볼 수있다.

#### 포맷코드와 숫자 함께 사용하기

In [ ]:
"%10s" % "hi" # 오른쪽 정렬하고 나머지는 공백으로 남기라는 의미

'        hi'

In [ ]:
"%-10slee" % "hi"# 왼쪽 정렬

'hi        lee'

In [ ]:
"%0.4f" % 3.42134234

'3.4213'

In [ ]:
"%10.4f" % 3.42134234

'    3.4213'

#### format 함수를 사용한 포매팅

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

In [ ]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [ ]:
number = 10 
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day) # 2개이상 값 넣기

'I ate 10 apples. so I was sick for three days.'

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3) # 이름으로 넣기

'I ate 10 apples. so I was sick for 3 days.'

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10,day=3) # 인덱스와 이름을 혼용해서 넣기

'I ate 10 apples. so I was sick for 3 days.'

왼쪽 정렬

In [ ]:
"{0:<10}".format("hi") # 왼쪽 정렬 + 총 자릿수 10

'hi        '

오른쪽 정렬

In [ ]:
"{0:>10}".format("hi") # 오른쪽 정렬 + 총 자릿수 10

'        hi'

가운데 정렬

In [ ]:
"{0:^10}".format("hi")

'    hi    '

공백 채우기

In [ ]:
"{0:=^10}".format("hi")

'====hi===='

In [ ]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 문자열 관련 함수

문자 갯수 세기(count)

In [ ]:
a = "hobby"
a.count('b')

2

위치 알려주기1 (find)

In [ ]:
a = "machine learning is the best choice"
a.find("l") # 찾는 문자나 문자열이 존재 x 면 -1을 반환한다.

8

위치 알려주기2 (index)

In [ ]:
a = "Life is too short"
a.index("t")

8

문자열 삽입(join)

In [ ]:
",".join('abcd')

'a,b,c,d'

In [ ]:
"!".join(['a','b','c','d']) # 리스트 튜플 둘다 사용 가능!

'a!b!c!d'

대문자를 소문자로 바꾸기(lower)

In [ ]:
a = "HIO"
a.lower()

'hio'

왼쪽 공백 지우기(lstrip)

In [ ]:
a = " hi "
a.lstrip()

'hi '

오른쪽 공백 지우기(rstrip)

In [ ]:
a = " 705 "
a.rstrip()

' 705'

양쪽 공백 지우기(strip)

In [ ]:
a = " hi "
a.strip()

'hi'

문자열 바꾸기(replace)

In [ ]:
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

문자열 나누기(split)

In [ ]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [ ]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

## 튜플

튜플(tuple)은 함수의 인자(argument in function) 형식을 일반화한 자료 형식이다.

수학에서 다음과 같이 a,b,c,d 가 함수의 인자로 인식되는데 이러한 인자의 구조를 나타낸 형식이다.

$$ f(a,b,c,d) = a + b + c + d $$

보통 괄호와 컴마를 사용하여 정의한다.

In [ ]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [ ]:
type(x)

tuple

In [ ]:
x[0]

'a'

튜플은 여러 가지 다른 형식의 자료들을 동시에 포함할 수 있다.

In [ ]:
y = 1, 'a', 12.1
y

(1, 'a', 12.1)

튜플도 문자열처럼 일부를 지정하여 바꿀 수 없다.

In [ ]:
x[0] = 1

TypeError: 'tuple' object does not support item assignment

튜플의 인덱싱, 실라이싱, 더하기, 곱하기 과정은 똑같다 하지만 요솟값을 삭제하려하거나 변경하려 한다면 오류가 발생한다.

## 리스트

python 자체는 R, C 등과 같은 언어와 다르게 배열(Array) 형식이 없다. 배열 형식을 사용하려면 Numpy와 같은 패키지를 사용해야 한다.

python 자체는 리스트(list)라는 자료의 형식을 제공하며 이는 R의 리스트와 동일하게 여러 가지 자료를 묶어 놓은 형식이다.

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [ ]:
mylist[0]

1

리스트의 슬라이싱

In [ ]:
mylist[0:3]

[1, 2, 3]

In [ ]:
mylist[0::2]  # this is start=0 to the end with increment 2 -> 0,2,4

[1, 3, 5]

In [ ]:
anylist = [1,'a', 3.2, 'abc']
anylist

[1, 'a', 3.2, 'abc']

리스트 합치기

In [ ]:
alllist = [mylist, anylist]
alllist

[[1, 2, 3, 4, 5], [1, 'a', 3.2, 'abc']]

In [ ]:
alllist[0]

[1, 2, 3, 4, 5]

첫번째 리스트의 2번째 요소 값

In [ ]:
alllist[0][2]

3

리스트는 튜플과 다르게 일부의 값을 바꿀 수 있다.

In [ ]:
mylist[0] = 10
mylist

[10, 2, 3, 4, 5]

리스트에 값을 첨가할 수도 있고 제거할 수도 있다.

In [ ]:
mylist.append(100)
mylist.append(200)
mylist

[10, 2, 3, 4, 5, 100, 200]

In [ ]:
mylist[2:5] = ['A','B','C']
mylist

[10, 2, 'A', 'B', 'C', 100, 200]

In [ ]:
mylist[5:7]=[]
mylist

[10, 2, 'A', 'B', 'C']

### 리스트를 생성하는 방법

리스트를 루프 또는 이터러블 정의하는 방법은 아래외 같다.

In [ ]:
s2 = []
for x in range(10):
    s2.append(x**2)
s2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
s22 = [x**2 for x in range(10)]
s22

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 리스트의 method

리스트로 정의된 변수는 여러 가지 작업을 method 형태로 수행할 수 있다. method 는 변수되에 마침표를 붙이고 원하는
method를 함수의 형태로 붙이면 된다.

예를 들어 하나의 리스트 끝에 원소를 붙이려면 `append` method 를 다음과 같이 사용할 수 있다.

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist.append(100)
mylist

[1, 2, 3, 4, 5, 100]

In [ ]:
mylist.insert(3,-100) # 3번째 위치 다음에 -100을 넣는다.
mylist

[1, 2, 3, -100, 4, 5, 100]

In [ ]:
mylist.remove(100) # 100을 제거 (첫번째로 나오는 x를 삭제하는 함수)
mylist

[1, 2, 3, -100, 4, 5]

In [ ]:
mylist.pop(0) #0번째 위치의 원소를 제거
mylist

[2, 3, -100, 4, 5]

In [ ]:
mylist.sort() # 정렬하기
mylist

[-100, 2, 3, 4, 5]

In [ ]:
del mylist[0] # 리스트에서 주어진 위치의 값을 지우기
mylist

[2, 3, 4, 5]

In [ ]:
mylist.extend([7,8]) # 리스트 확장 
mylist

[1, 2, 3, 4, 5, 100, 7, 8, 7, 8]

다음의 method들은 리스트에 적용되는 것들이다. 

- `list.append(x)` : 리스트의 끝에 `x`를 붙여준다.  `a[len(a):] = [x]`과 같은 효과를 낸다.
- `list.extend(iterable)`: 리스트에 이터러블을 붙여준다. `a[len(a):] = iterable` 와 같은 효과를 낸다.
- `list.clear()` : 리스트의 모든 원소를 제거한다.
- `list.index(x[, start[, end]])`: `x`의 값이 처름으로 나오는 위치를 알려준다.
- `list.count(x)`:`x`의 값이 나오는 횟수를 알려준다.
- `list.reverse()`: 라스트의 순서를 반대로 배열해준다.
- `list.copy()` : 리스트의 얇은 복사(shallow copy)를 해준다.

### 리스트에 대한 함수

In [ ]:
len(mylist) # mylist의 길이

5

In [ ]:
sum(mylist) # mylist의 원소의 합

-86

In [ ]:
max(mylist) # mylist의 최대값

5

## 자료의 형식

python은 여러 가지 자료의 형식(data type) 이 있다. 자료의 형식은 `type`함수로 알 수 있다.

In [ ]:
type(100)

int

In [ ]:
type(math.pi)

float

In [ ]:
type(x)

tuple

In [ ]:
type(mylist)

list

함수 `isinstance(var,type)`은 변수 또는 자료 `var` 이 `type` 형식인지 확인해 준다.

In [ ]:
a=100
isinstance(a,int)

True

In [ ]:
isinstance(a,float)

False

### 형식의 변환

In [ ]:
a = 3.124
int(a)

3

In [ ]:
float(110)

110.0

In [ ]:
int('123')

123

In [ ]:
str(123)

'123'

In [ ]:
list('123')

['1', '2', '3']

In [ ]:
tuple('abc')

('a', 'b', 'c')

In [ ]:
str(tuple('abc'))

"('a', 'b', 'c')"

## 사전(dictionary)

Python에서 사전(dictionary)는 다른 범용언어와 유사하게 이름이 있는 리스트와 같다.

기본 딕셔너리의 모습

In [ ]:
d = dict(a=1, c=10, t=3, z=-2)

여기서 a,c,t,z 는 key / 1,10,3,-2는 value 이다.

In [ ]:
d

{'a': 1, 'c': 10, 't': 3, 'z': -2}

다르게 정의해보자

In [ ]:
d2 = {'A':'John', 'B':'Smith', 'C':'Mary'}  ## another way to define dictionary

In [ ]:
d2

{'A': 'John', 'B': 'Smith', 'C': 'Mary'}

In [ ]:
type(d)

dict

In [ ]:
d['a']

1

In [ ]:
d.keys()

dict_keys(['a', 'c', 't', 'z'])

In [ ]:
list(d.keys())

['a', 'c', 't', 'z']

In [ ]:
d.values()

dict_values([1, 10, 3, -2])

In [ ]:
list(d.values())

[1, 10, 3, -2]

key를 이용해서 value를 구할 수 있다.

In [ ]:
d['a'] = 10
d

{'a': 10, 'c': 10, 't': 3, 'z': -2}

In [ ]:
for k in d:
    print(k,d[k])

a 10
c 10
t 3
z -2

key , value 쌍 얻기(items)

In [ ]:
for k,v in d.items():
    print(k,v)

a 10
c 10
t 3
z -2

key:value 쌍 모두 지우기(clear)

In [ ]:
d.clear()
d

{}

key로 value 얻기(get)

In [ ]:
seoul = {'name':'JYD','phone':'01033339999','birth':'0308'}

In [ ]:
seoul.get('name')

'JYD'

In [ ]:
seoul.get('phone')

'01033339999'

있는지 없는지 확인하는 방법

In [ ]:
'name' in seoul

True

한가지 주의해야할 사항은 key에 리스트는 쓸수 없고 튜플은 key로 쓸 수 있다.

## 집합 자료형

In [ ]:
s1 = set([1,2,3])

In [ ]:
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

집합자료형의 특징으로는    
1. 중복을 허용하지 않으며
2. 순서가 없다.

set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야한다.

In [ ]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [ ]:
t1 = tuple(s1)
t1
t1[0]

1

In [ ]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [ ]:
s1 & s2 # 교집합

{4, 5, 6}

In [ ]:
s1.intersection(s2) # 교집합

{4, 5, 6}

In [ ]:
s1|s2 # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s1-s2
s2-s1 # 차집합

{7, 8, 9}

In [ ]:
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

### 집합 자료형 관련 함수

값 1개 추가하기(add)

In [ ]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

값 여러개 추가하기(update)

In [ ]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

특정 값 제거하기(remove)

In [ ]:
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

##  제어문

### for loop

for loop 는 다음과 같이 반복하여 작업을 수행하며 `range`함수를 이용하면 iterable 객체를 생성할 수 있다.

iterable 객체는 객체안의 원소들을 순서대로 뽑아낼 수 있는 것을 말한다.  

range(시작 숫자,끝 숫자) -> 끝 숫자는 포함되지 않는다.

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):  # 증가분이 1이 아닌 2로 지정 
    print(i)

1
3
5
7
9

In [ ]:
myiter = [1, 2, 3, 4]
for i  in myiter:
    print(i)

1
2
3
4

두 개의 다른 iterable에서 서로 대응하는 원소를 묶어서 iterable을 만들어 주는 함수가 `zip` 이다.

In [ ]:
for i in zip([1,2,3],['a','b','c']):
        print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
for i,j in zip([1,2,3],['a','b','c']):
        print(i,j)

1 a
2 b
3 c

함수 `enumerate`는 iterable의 원소들을 그 순서를 함께 생성해 준다.

In [ ]:
for i,j in enumerate(range(1,10)):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

for와 range를 사용한 구구단(example)

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j,end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
result = [x * y for x in range(2,10)
    for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

리스트 내포 사용하기

In [ ]:
a = [1,2,3,4]
result = []
for num in a :
    result.append(num*3)

print(result)

[3, 6, 9, 12]

위 예시를 간단하게 표현하면

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

다른 예시로 짝수에만 3을 곱하고 담고 싶다면

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

### while

Example1

In [ ]:
a=0
while(a < 5):
    print(a)
    a+=1

0
1
2
3
4

Example2

In [ ]:
treehit = 0
while treehit < 10 :
  treehit = treehit + 1 
  print("나무를 %d번 찍었습니다." % treehit)
  if treehit ==10:
    print("나무 넘어간다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어간다

### if else

In [ ]:
age=52
if age > 50:
  print('old')
elif age < 50:
  print('young')
else:
  print('???')

old

if문 같은 경우에는 if 조건문 + elif 조건문 + else 조건문 순서로 구조를 짜야한다.

In [ ]:
pocket = ['paper','cellphone']
card = True
if 'money' in pocket : 
    print("택시를 타고 가라")
elif card : 
    print("택시를 타고 가라")
else : 
    print("걸어 가라")

택시를 타고 가라

## 함수

Python에서 함수(function)은 `def` 문으로 정의되고 함수의 이름과 인자를 정의한 다음 `:`으로 정의를 끝내준다.   
함수의 결과를 출력할 경우 `return`문을 사용한다.

```
def  funcname(a,b,c):
    .... function body
    return result
```

일반적인 함수의 전형적인 예시

In [ ]:
def  addtwo(a,b):
    return a+b

a , b 는 매개변수

In [ ]:
addtwo(1, 2)

3

In [ ]:
addtwo(1, math.pi)

4.141592653589793

In [ ]:
addtwo('a', 'b')

'ab'

In [ ]:
addtwo('a', 100)

TypeError: can only concatenate str (not "int") to str

### local 변수와 scope

변수에는 스코프라는게 있다.
쉽게 말해 스코프라는 접근가능한 영역이 존재한다.
스코프 별 변수의 종류에는 
*   지역 변수 : 함수 내에 선언된 변수
 *   선언 된 함수 내에서만 접근 가능 로컬 변수라고도 함
 *   함수 내부가 변수의 스코프가 됨

*   전역 변수 : 함수 외에 선언된 변수로 글로벌 변수라고도 함
 *  함수 관계없어 어디서든 접근 가능함
 *  함수 내부 외부가 변수의 스코프가 됨

local 변수는 그 함수에서밖에 선언이 안된다 따라서 밑의 값을 보면 서로 다른 값이 나오는 것을 알 수 있다.  
해결방법으로는 global 변수를 선언하게 된다면 서로 값이 같은 것을 확인할 수 있다.

example

In [ ]:
x=1
def bar():
  x=2  # it is local variable
  print(x)

bar()
x

2

1

In [ ]:
x=1
y=2

def f():
  x=2          # new local x 
  def g():
    x=11      # another new local x is defined  
              # so new x=11 but parent x is still 2
    return x+y # y = 2 is global and return 11+2 (x+y)
  return g()+x # # g()= 13 and x= 2 so return 15

f()

15

### keyword  인자

Keyword  인자는 함수의 인자를 정의할 때 default 값을 지정해주고 함수를 부를 때 그 인자를 지정하지 않으면 default 값이 자동적으로 사용된다.

In [ ]:
def f1(a, b=1, c=2):
    return a+b+c

In [ ]:
f1(1)

4

In [ ]:
f1(1,3) # b=3

6

In [ ]:
f1(1,c=10)

12

### lambda 함수 (anonymous 함수)

In [ ]:
f = lambda x: x**3

In [ ]:
f(10)

1000

lambda 함수는 결과값을 함수로 주는 경우 유용하게 사용된다.  
또한 함수를 복잡하게 짜기 싫을 때 유용하게 사용된다.

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

In [ ]:
f100 = make_incrementor(100)
f100(3)

103

In [ ]:
f200 = make_incrementor(200)
f200(3)

203

## 객체

python에서 객체(object)는 다른 객체지향언어에서 사용되는 개념과 동일하다. 

각 객체는 정의되는 동시에 고유한 Identity를 가지며 함수`id`로 그 고유한 id 를 볼 수 있다.

In [ ]:
x=100
id(x)

4516475392

In [ ]:
x=3.2
id(x)

4571320064

객체의 속성(attribute)과 그 변환은 각 객체의 형식에 따른  method를 이용한다.

In [ ]:
x.imag

0.0

In [ ]:
x.real

3.2

In [ ]:
x.__class__

float

In [ ]:
x = ['a', 'b']
x.__setitem__(0, 'aa')  # Equivalent to x[0] = 'aa'
x

['aa', 'b']

### 사용자 정의 객체

객체는 위에서 본 것과 같이 python 언어에 의하여 정의된 int, float, tuple, list 등이 있지만 사용자가 정의할 수 있다.

사용자가 정의하는 객체는 `class`문을 사용하며 정의한다.

다음은 은행의 고객을 객체형식으로 정의한 문장이다. 은행의 고객은 자금을 은행에 저금할 수 있고(deposit) 인출할 수 있다(withdraw). 또한 저금한 총 금액보다 더 많은 예금은 인출할 수 없다.

이러한 개념을  구현할 수 있는 객체 `Customer`를 아래와 같이 구현할 수 있다.

나오는 두 예제는 [코드 출처](https://lectures.quantecon.org/py/python_oop.html#Defining-Your-Own-Classes)에 있는 코드를 변환한 것이다.

In [ ]:
class Customer:

    def __init__(self, w):
        "새로운 고객이 w 원으로 구죄를 만든다"
        self.wealth = w

    def deposit(self, y):
        "고객이 y 원을 예금한다"
        self.wealth += y

    def withdraw(self, x):
        "고객이 x 원을 인출하는데 자금보다 많으면 인출이 안된다."
        new_wealth = self.wealth - x
        if new_wealth < 0:
            print("예금이 부족합니다.")
        else:
            self.wealth = new_wealth

이제 용희란 사람을 Customer로 정의하고 (초기 예금 100원) 여러 가지 method를 적용해 보자.

In [ ]:
용희 = Customer(100)

In [ ]:
용희.wealth

100

In [ ]:
용희.deposit(200)

In [ ]:
용희.wealth

300

In [ ]:
용희.withdraw(150)

In [ ]:
용희.wealth

150

In [ ]:
용희.withdraw(200)

예금이 부족합니다.

In [ ]:
type(용희)

__main__.Customer

아래에서는 `Polynomial` 즉 다항식에 대한 객체를 정의하고 여러 가지 연산들을 method로 구현한것이다.

$$ f(x) = a_0 + a_1 x + a_2 x^2 + ... + a_n x^n $$

다항식 객체 `Polynomial` 은 계수들로 정의된다. [코드 출처](https://lectures.quantecon.org/py/python_oop.html#Defining-Your-Own-Classes)

In [ ]:
class Polynomial:

    def __init__(self, coefficients):
        """
        Creates an instance of the Polynomial class representing

            p(x) = a_0 x^0 + ... + a_n x^n,

        where a_i = coefficients[i].
        """
        self.coefficients = coefficients

    def __call__(self, x):
        "Evaluate the polynomial at x."
        y = 0
        for i, a in enumerate(self.coefficients):
            y += a * x**i
        return y
      
    def __len__(self):
        "return the degree of polynomial"
        return len(self.coefficients)-1 
    
    def differentiate(self):
        "Reset self.coefficients to those of p' instead of p."
        new_coefficients = []
        for i, a in enumerate(self.coefficients):
            new_coefficients.append(i * a)
        # Remove the first element, which is zero
        del new_coefficients[0]
        # And reset coefficients data to new values
        self.coefficients = new_coefficients
        return new_coefficients

In [ ]:
mypoly4 = Polynomial([1,2,3,4])

In [ ]:
mypoly4

In [ ]:
mypoly4.coefficients

[1, 2, 3, 4]

In [ ]:
mypoly4(1)

10

In [ ]:
mypoly4(2)

49

In [ ]:
mypoly4.differentiate()

[2, 6, 12]

In [ ]:
mypoly4.coefficients

[2, 6, 12]

In [ ]:
mypoly4(1)

20